
.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    max-width: 100%;
    border: 0.1rem solid rgba(164, 222, 255, 0.25);
    background-color: white;
    border-radius: 3rem;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #06311d;
    background-color: #d4d4d4;
    color: rgb(63, 63, 63);
    margin-bottom: 2rem;
    transform: translateY(0.5rem);
    transition: transform 2000ms;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #0CB968;
    color: white;
    border-radius: 3rem;
}
.choice-text{
    padding: 1.5rem ;
    width: 100%;
}
.correct{
    background-color: #97f3c8;
}
.incorrect{
    background-color: rgb(238, 153, 153);
}
#hud {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}

#progressBar{
    max-width: 20rem;
    height: 2.5rem;
    border: 0.3rem solid #0CB968;
    margin-top: 1.5rem;
}
#progressBarFull{
   height: 1.9rem;
   background-color: #0CB968;
   width: 0%;
}
